<?xml version='1.0' encoding='utf-8'?>
<plugin id="DictionaryPlugin" version="0.0.1" xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android">
    <name>DictionaryPlugin</name>
    <js-module name="DictionaryPlugin" src="www/DictionaryPlugin.js">
        <clobbers target="cordova.plugins.DictionaryPlugin"/>
    </js-module>
    <platform name="ios">
        <hook type="before_compile" src="hooks/ios/before_compile/copy_project_config.js" />
        <!--<hook type="before_plugin_rm" src="hooks/ios/before_plugin_rm/rm_src_plugin.js" />-->

        <config-file parent="/*" target="config.xml">
            <feature name="DictionaryPlugin">
                <param name="ios-package" value="DictionaryPlugin"/>
            </feature>
            <feature name="Storage">
                <param name="ios-package" value="MSPStoragePlugin" />
            </feature>
            <feature name="DataPlugin">
                <param name="ios-package" value="DataPlugin" />
            </feature>
        </config-file>
        <source-file src="src/ios/DictionaryPlugin.m"/>

        <header-file src="src/ios/DataPlugin.h"/>
        <source-file src="src/ios/DataPlugin.m"/>

        <header-file src="src/ios/Word.h"/>
        <source-file src="src/ios/Word.m"/>
    </platform>
    <platform name="android">
        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="DictionaryPlugin">
                <param name="android-package" value="DictionaryPlugin.DictionaryPlugin"/>
            </feature>
        </config-file>
        <config-file parent="/*" target="AndroidManifest.xml"></config-file>
        <source-file src="src/android/DictionaryPlugin.java" target-dir="src/DictionaryPlugin/DictionaryPlugin"/>
    </platform>
</plugin>